#um {
    display: flex;
    flex-wrap: wrap;
    width: 110px;
    height: 110px;
    margin: auto;
}
#dois {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 110px;
    height: 110px;
    margin: auto;
}
#tres {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 110px;
    height: 110px;
    margin: auto;
}
#quatro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    width: 110px;
    height: 110px;
    margin: auto;
}

div {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    margin: 5px;
}