body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: block;
    text-align: center;
    padding: 1px;
    background-color: rgba(128, 128, 128, 0.534);
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    background-color: rgba(17, 9, 9, 0.219);
}

a {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

a#um:link {
    color: peru; 
}

a#dois:visited {
    color: darkblue;;
}

a#tres:focus {
    border: 1px solid red;
    background: gray;
}

a#quatro:hover {
    border: 1px solid;
    background: violet;
}

a#cinco:active {
    background: darkslateblue;
    color: darkseagreen;
}